.App {
  font-family: Roboto,Arial,sans-serif; /* Roboto,Arial,sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}



.product-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1.5rem;
  gap: 1.5rem;
  padding: 1rem;
}

.product-card{
  width: 100%;
  max-width: 15rem;
  align-self: stretch;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.card-body{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slider{
  width: 100%;
  outline: none;
}

.slider-label{
  display: flex;
  justify-content: space-between;
}

.font-bold{
  font-weight: 700;
}

.filter-category{
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.p-2{
  padding-bottom: 2rem !important;
}

.single-product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.btn{
  margin-top: 10px;
}